//
//  DevDebug.xcconfig
//  heartsapp
//
//  Created by Vignesh on 13/10/20.
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
BUNDLE_DISPLAY_NAME = HeartsApp-Dev
PRODUCT_BUNDLE_IDENTIFIER = org.heartsapp.heartsapp.dev
OTHER_SWIFT_FLAGS = -DQA
//CODE_SIGN_ENTITLEMENTS = Config/$(PRODUCT_NAME)-qa.entitlements
INFOPLIST_FILE = Config/Info-dev.plist
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
Firebase_File = Config/Dev/GoogleService-Info
