<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>$(BUNDLE_DISPLAY_NAME)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>3.11.0</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb2025088351087141</string>
        <string>com.googleusercontent.apps.995463456479-r0nopvsrhqobemjic6u5cllru4pjjhp5</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>heartsapp</string>
      </array>
    </dict>
  </array>
  <key>CFBundleVersion</key>
  <string>180</string>
  <key>FacebookAppID</key>
  <string>2025088351087141</string>
  <key>FacebookClientToken</key>
  <string>5423e64814e66383fdfbf62b1293b0ec</string>
  <key>FacebookDisplayName</key>
  <string>HeartsApp</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-share-api</string>
    <string>fbauth2</string>
    <string>fbshareextension</string>
    <string>whatsapp</string>
  </array>
  <key>LSRequiresIPhoneOS</key>
  <true />
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true />
    <key>NSExceptionDomains</key>
    <dict>
      <key>localhost</key>
      <dict>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true />
      </dict>
    </dict>
  </dict>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Heartsapp needs Location access to find the nearest trainer</string>
  <key>NSCameraUsageDescription</key>
  <string>Heartsapp needs Camera access to change the profile picture</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Heartsapp needs Gallery access to change the profile picture</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Heartsapp needs access to microphone for searching seeker using barcode</string>
  <key>UIAppFonts</key>
  <array>
    <string>Gotham-Black.otf</string>
    <string>Gotham-BlackItalic.otf</string>
    <string>Gotham-Bold.otf</string>
    <string>Gotham-BoldItalic.otf</string>
    <string>Gotham-Book.otf</string>
    <string>Gotham-BookItalic.otf</string>
    <string>Gotham-Light.otf</string>
    <string>Gotham-LightItalic.otf</string>
    <string>Gotham-Medium.otf</string>
    <string>Gotham-MediumItalic.otf</string>
    <string>Gotham-Thin.otf</string>
    <string>Gotham-ThinItalic.otf</string>
    <string>Gotham-Ultra.otf</string>
    <string>Gotham-UltraItalic.otf</string>
    <string>Gotham-ExtraLight.otf</string>
    <string>Gotham-ExtraLightItalic.otf</string>
    <string>AntDesign.ttf</string>
    <string>Entypo.ttf</string>
    <string>EvilIcons.ttf</string>
    <string>Feather.ttf</string>
    <string>FontAwesome.ttf</string>
    <string>FontAwesome5_Brands.ttf</string>
    <string>FontAwesome5_Regular.ttf</string>
    <string>FontAwesome5_Solid.ttf</string>
    <string>Foundation.ttf</string>
    <string>Ionicons.ttf</string>
    <string>MaterialIcons.ttf</string>
    <string>MaterialCommunityIcons.ttf</string>
    <string>SimpleLineIcons.ttf</string>
    <string>Octicons.ttf</string>
    <string>nunito_bold.ttf</string>
    <string>nunito_bolditalic.ttf</string>
    <string>nunito_italic.ttf</string>
    <string>nunito_regular.ttf</string>
    <string>YeonSung-Regular.ttf</string>
    <string>Fontisto.ttf</string>
    <string>Roboto_medium.ttf</string>
    <string>Roboto.ttf</string>
    <string>rubicon-icon-font.ttf</string>
    <string>Zocial.ttf</string>
    <string>Oxygen-Bold.ttf</string>
    <string>Oxygen-Light.ttf</string>
    <string>Oxygen-Regular.ttf</string>
    <string>yeonsung_regular.ttf</string>
    <string>oxygen_bold.ttf</string>
    <string>oxygen_light.ttf</string>
    <string>oxygen_regular.ttf</string>
  </array>
  <key>FacebookAutoLogAppEventsEnabled</key>
  <false/>
  <key>FacebookAdvertiserIDCollectionEnabled</key>
  <true/>
  <key>GoogleUtilitiesAppDelegateProxyEnabled</key>
  <false/>
  <key>FirebaseAutomaticScreenReportingEnabled</key>
  <false/>
  <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
  <true/>
  <key>FirebaseAppDelegateProxyEnabled</key>
  <false/>
  <key>UIBackgroundModes</key>
  <array>
    <string>audio</string>
    <string>remote-notification</string>
  </array>
  <key>UILaunchStoryboardName</key>
  <string>LaunchScreen</string>
  <key>UIRequiredDeviceCapabilities</key>
  <array>
    <string>armv7</string>
  </array>
  <key>UIRequiresFullScreen</key>
  <true />
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <false />
  <key>FacebookCodelessDebugLogEnabled</key>
  <true />
  <key>GoogleService</key>
  <string>$(Firebase_File)</string>
  <key>UIUserInterfaceStyle</key>
  <string>Light</string>
  <key>Environment</key>
  <string>PROD</string>
</dict>
</plist>